{% extends 'base.html.twig' %}
{% block main %}
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                <a href="{{ path('admin_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
            </div>
            <h1>Posts</h1>
            <table class="table table-striped">
                <tr>
                    <th>id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Author</th>
                    <th width="100px">Genre</th>
                    <th>Edit</th>
                </tr>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.text }}</td>
                        <td>{{ post.author }}</td>
                        <td>{{ post.genre|join(',') }}</td>
                        <td><a href="{{ path('admin_edit', { 'id': post.id }) }}">Edit</a></td>
                  </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}